
$border: 10px;

.jsondiv_container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
};

.jsondiv_containerHeader{
  display: flex;
  align-items: center;
  background-color: mediumseagreen;
  color: white;
  padding: 10px;
  border-radius: $border $border 0px 0px;
};

.jsondiv_containerJson{
  white-space: pre-wrap;
  border-radius: 0px 0px $border $border;
  background-color: whitesmoke;
};