@charset "utf-8";

@import "globals.scss";

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";

/*
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont,
  “Segoe UI”, “Roboto”, “Oxygen”,
  “Ubuntu”, “Cantarell”, “Fira Sans”,
  “Droid Sans”, “Helvetica Neue”, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}*/

/* Override border under tooltip */
span[data-tooltip] {
  border-bottom: 0px;
}

html {
  overflow-x: auto;
  overflow-y: auto;
}

html, body {
  height: 100%
}

.fieldset{
  background-color: #fff;
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 0.75rem 1.25rem 1.25rem;
  border: 1px solid #ccc
}
.fieldset  > legend{
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  padding: 0 5px;
  width: max-content;
  border: 0 none
}

.tooltip .tooltip-text {
  min-width:400px;
  max-width:600px;
  top:-20px;
  left:50%;
  transform:translate(0%,-100%);
  padding:10px 20px;
  color:#ffffff;
  background-color: $secondary;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .tooltip-text {
  display:block;
}

.checkbox {
  @extend .is-unselectable
}

.is-quad-button {
  height: 2em;
  min-width: 2em;
}

.centered_toolar_icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  pointer-events: none;
}

.list-item-collpase {
  border: 1px solid hsl(0, 0%, 65%);
  background-color: rgb(227, 236, 248);
  align-items: center;
  color: hsl(0deg, 0%, 21%);
  display: flex;
  justify-content: flex-start;
  padding: 0.25em 0.75em;
}

.list-item-collpase-container {
  border: 1px solid hsl(0deg, 0%, 93%);
  background-color: transparent;
  padding: 1.5rem;
}

.fadeNotification {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  -webkit-animation: fadeinout 1s linear forwards;
  animation: fadeinout 1s linear forwards;
}

.has-background-color-primary-plus {
  background-color: $primaryplus;
}

@-webkit-keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}